:root {
  font-family: Abril Fatface, serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --salbei-color: #A8CBB7;
  --waldgruen-color: #3B5D47;
  --sandstein-color: #F5EFE3;
  --espresso-color: #4A2E23;
  --nebelblau-color: #7A9EB1;
  --gravelgrau-color: #707070;
  --lightblue-color: #CAD9DB;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: hidden;
}


#app {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.content {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
  line-height: 1.2;
  font-weight: 400;
  color: var(--waldgruen-color);
}

h3 {
  color: var(--espresso-color);
  font-family: Abril Fatface, serif;
  font-size: 1.2rem; 
  margin-top: 0;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--sandstein-color);
}
p {
  font-size: 1rem;
  font-family: Helvetica, serif;
  color: var(--espresso-color);
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.6;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--espresso-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button {
  margin-top: 1rem;
  padding: 0.6rem 2rem;
  background-color: var(--espresso-color);
  color: var(--sandstein-color);
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: var(--sandstein-color);
  color: var(--espresso-color);
}

input,
textarea,
select{
  box-sizing: border-box;
  border: 0.0625rem solid var(--sandstein-color);
  border-radius: 2.5rem;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  width: 100%;
  color: var(--espresso-color);
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--sandstein-color);
  opacity: 1;
}

input:focus,
textarea:focus {
  border-color: var(--sandstein-color);
  outline: none;
  background-color: #f1f1f1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2rem;
}

.arrow-down {
  margin-top: 5rem;
}

.background-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 75vw;
  margin: 5rem auto 0 auto;
  font-family: Helvetica, sans-serif;
  color: var(--sandstein-color);
  background-color: var(--waldgruen-color);
  border-radius: 40rem 40rem 0 0;
}

@media (prefers-color-scheme: light) {
  #app {
    min-height: 100vh;max-width: 1280px;
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    text-align: center;
  }
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
